@font-face {
  font-family: "Helvetica Neue";
  src: url(./assets/font/HelveticaNeue.ttc);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  box-sizing: border-box;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.back-arrow {
  position: absolute;
  left: 3rem;
  top: 2.8rem;
  width: 40px;
  height: 40px;
  padding: 13px;
  border-radius: 50%;
  background: #ffffff;
}

input {
  height: 3rem;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding-left: 1rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:hover {
  border: 2px solid #bcbcbc;
}

input:focus {
  outline: none;
}

button {
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

label {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h5 {
  font-weight: 300;
  font-size: 14px;
  color: #2e2e2e;
}

textarea {
  width: 100%;
  height: 6rem;
  margin-top: 0.5rem;
  border: 1px solid #bcbcbc;
}

p {
  letter-spacing: 0.5px;
}

.page-btn {
  background: #6b40e3;
}
.page-btn:hover {
  background: #7949ff;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
}
.page-btn:active {
  background: #512faf;
}

.next-btn {
  float: right;
  margin-right: 7rem;
  padding: 0.9rem 2.2rem;
  font-size: 16px;
}

.valid {
  border: 1px solid #98e37e;
}

.invalid {
  border: 1px solid #ef5050;
}

.invalid-label {
  color: #ef5050;
}
/* Form side */
.container {
  display: flex;
  height: 100vh;
}
.form-side {
  width: 57%;
  background-color: #f9f9f9;
}

.info-header {
  width: 80%;
  margin: 2.9rem auto 0;
}

.info-header p {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 0.7rem;
}
.info-header p:nth-child(2) {
  float: right;
  font-weight: 500;
  font-size: 20px;
}
.header-line {
  border: 1px solid #1a1a1a;
}
.form {
  width: 80%;
  margin: 4.8rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 6%;
  height: 75%;
}

/* CV SIDE */
.cv-side {
  width: 43%;
  margin-left: 5rem;
}

.redberry-icon {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 91.5%;
}

.name-lstname-div {
  display: flex;
  flex-direction: row;
  margin-top: 4.5rem;
  gap: 1.5rem;
}

.Name-output,
.Lastname-output {
  font-weight: 700;
  font-size: 34px;
  color: #f93b1d;
}

.email-div,
.phone-div {
  display: flex;
  gap: 0.6rem;
}

.email-div {
  margin-top: 1.2rem;
}
.phone-div {
  margin-top: 0.6rem;
}

.Email-output,
.Phone-output {
  font-weight: 400;
  font-size: 18px;
  color: #1a1a1a;
}

.displayedImage {
  visibility: hidden;
  position: absolute;
  width: 246px;
  height: 246px;
  border-radius: 133px;
  margin-left: 31.3rem;
  top: 3rem;
}

.about-me-div {
  visibility: hidden;
  margin-top: 2.1rem;
  display: block;
  width: 60%;
  word-wrap: break-word;
}

#about-me {
  font-weight: 700;
  font-size: 18px;
  color: #f93b1d;
}

.about-me-div p {
  margin-top: 0.9rem;
  font-size: 16px;
}

#email-icon,
#phone-icon {
  visibility: hidden;
}
