.container {
  display: flex;
  height: 100vh;
}
.form-side {
  width: 57%;
  background-color: #f9f9f9;
}

.info-header {
  width: 80%;
  margin: 2.9rem auto 0;
}

.info-header p {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 0.7rem;
}
.info-header p:nth-child(2) {
  float: right;
  font-weight: 500;
  font-size: 20px;
}
.header-line {
  border: 1px solid #1a1a1a;
}
.form {
  width: 80%;
  margin: 4.8rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 6%;
  height: 75%;
}

.name-lastname {
  display: flex;
  gap: 3.5rem;
}

.name,
.lastname {
  width: 46%;
}

.person-photo {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.person-photo p {
  font-weight: 700;
  font-size: 18px;
}

.upload-button {
  background: #0e80bf;
  padding: 0.5rem 1.1rem;
}
.upload-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
}
